<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Java Web Server</title>
</head>
include(style.html)
<body>
  include(header.html)

  <h2>Welcome to the Java Web Server</h2>
  <h3>Features</h3>
  <ul>
    <li>Serve files over the internet</li>
    <li>Generate dynamic files with data from your Java app</li>
    <li>Reuse code by including subfiles into your served files</li>
    <li>Create customized URLs using the routing system</li>
  </ul>
  
  <h3>Server Data</h3>
  <ul>
    <li>Start Time: [[ startTime ]]</li>
    <li>Computer Username: [[ username ]]</li>
    <li>Requests Served: [[ requestsServed ]]</li>
    <li>Current Time: [[ currentTime ]]</li>
    <li>Total Runtime: [[ runTime ]]</li>
  </ul>
  
  include(footer.html)

</body>
</html>